
body {
    background-color: lightblue;
    color:black;
    font-family :Arial, sans-serif;
}
h1,h2,h3 {
color:navy;
}
p{
    line-height:1.6;
}
a{
    color:darkblue;
}
#blog-title{
    text-align: center;
}
.post{
    background-color:white;
    color:black;
    padding:20px;
    margin-bottom:20px;
}